.company_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 98%;
}

.company_name_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.arrows_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}
