.welcome_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  cursor: default;
}

.title {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-self: flex-start;
  width: 100%;
  letter-spacing: -0.1rem;
}

.context {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-self: flex-start;
  width: 100%;
  letter-spacing: -0.1rem;
}
