.paragraph {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  line-height: 2.5rem;
  letter-spacing: -0.1rem;
  padding-left: 1rem;
}

.quote_box {
  border: 1px solid greenyellow;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 98%;
}
